{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mt-3 justify-content-center">
  <!-- Columna del formulario de registro -->
  <div class="row">
    <h3 class="mb-3">Editando empleado</h3>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <form
        class="form-control"
        action="actualizar_empleado/"
        method="POST"
        style="padding: 10px"|
      >
        {% csrf_token %}
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="txtRut"
            name="txtRut"
            required
            maxlength="12"
            placeholder="Rut"
            value="{{empleado.rut}}"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="txtNombre"
            name="txtNombre"
            required
            placeholder="Nombre"
            value="{{empleado.nombre}}"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="txtApellido"
            name="txtApellido"
            placeholder="Apellido"
            value="{{empleado.apellido}}"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="txtCorreo"
            name="txtCorreo"
            required
            placeholder="correo@gmail.com"
            value="{{empleado.correo}}"
          />
        </div>
        <div class="mb-3">
          <label for="fecha">Fecha de nacimiento: </label>
          <input
            type="date"
            class="form-control"
            id="Fecha"
            name="Fecha"
            required
            value={{empleado.fechaNacimiento|date:"Y-m-d"}}
          />
        </div>
        <div class="mb-3">
          <label for="pais">País</label><br />
          <select class="form-select" name="Pais" id="Pais">
            <option value="Chile"{% if empleado.pais == "Chile" %} selected {% endif %}>Chile</option>
            <option value="Argentina"{% if empleado.pais == "Argentina" %} selected {% endif %}>Argentina</option>
            <option value="Perú"{% if empleado.pais == "Peru" %} selected {% endif %}>Perú</option>
            <option value="Colombia"{% if empleado.pais == "Colombia" %} selected {% endif %}>Colombia</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label class="form-check-label">Genero</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Genero"
              value="M"
              id="Masculino"
              {% if empleado.genero == "M" %}
                checked
              {% endif %}
            />
            <label class="form-check-label">Masculino</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="Genero"
              value="F"
              id="Femenino"
              {% if empleado.genero == "F" %}
                checked
              {% endif %}
            />
            <label class="form-check-label">Femenino</label>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-success text-center"
            style="margin: 10px; width: 150px; justify-content: center"
          >
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}