{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid mt-3">
        <h1>Categorias</h1>
        <div class="row">
        <h3 class="mb-3">Editar categoria</h3>
          <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <form
              class="form-control"
              method="POST"
              style="padding: 10px"
            >
              {% csrf_token %}
              <div class="mb-3 form-group">
                <label for="Categoria">Nombre de la categoria </label>
                <input
                  type="text"
                  class="form-control"
                  id="Categoria"
                  name="Categoria"
                  required
                  placeholder="Bebidas"
                  value="{{categoria.nombre}}"
                />
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-success text-center"
                  style="margin: 10px; width: 150px; justify-content: center"
                >
                  Guardar
                </button>
              </div>
            </form>

            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% endif %}
                
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
              {% endfor %}
            {% endif %}
          </div>

{% endblock content %}